body {
  background-color: #ddd;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
}

canvas {
  margin: 2rem;
}

#main {
  color: white;
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  margin: 1rem 2rem 2rem 2rem;
}

#speed-container {
  display: inline-block;
  position: relative;
}

#speed-container::after {
  color: white;
  position: absolute;
  top: 2px;
  right: 1.5em;
  content: 'hz';
}

#size-container {
  display: inline-block;
}

input {
  background-color: black;
  color: white;
  border: none;
  width: 3.5rem;
  padding: 0.2rem 0.1rem 0.2rem 0.4rem;
}

button {
  color: white;
  background-color: black;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border: none;
}

button:active {
  color: black;
  background-color: white;
}