@mixin prefix($property, $values...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $values;
  }
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#menu {
  opacity: 0.95;
  color: white;
  background-color: #333;
  width: 2rem;
  height: auto;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include prefix(transition, all 0.2s);
  
  #settings {
    font-size: 1.5rem;
    visibility: visible;
  }
  
  h1, #iterations, #controls  {
    @include prefix(transition, all 0.5s);
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  &:hover {
    width: 18rem;
    height: 100%;

    #settings {
      visibility: hidden;
    }

    h1, #iterations, #controls {
      opacity: 1;
      visibility: visible;
      width: auto;
      height: auto;
    }

    #controls * {
      margin: 0.5rem 0;
    }
  }
}

#buttons {
  display: flex;
  justify-content: space-between;

  button {
    color: white;
    background-color: black;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    border: none;
    align-self: flex-end;
  
    &:active {
      color: black;
      background-color: white;
    }
  }
}

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    width: 55%;
  }
}